:host {
  height: 90vh;
  display: block;
  background-image: url("src/assets/img/background/table01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
